@model HomeDetailsViewModel

@{
    ViewBag.Title = "Welcome back!";
}

<div id="user_welcome" class="container">

    <div class="introTitle">
        <h1 class="introText">
            Welcome back, @Model.User.Name!
        </h1>
    </div>

    <div class="progressTitle">
        <h2 class="progTitleText">
            Your Learn Progress
        </h2>
    </div>

    <div class="progressBarTitle">
        <p class="LessonText">
            Lesson 2
        </p>
        <p class="bizPlan">
            Business Plan
        </p>
    </div>


    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
            60%
        </div>
    </div>

    <div class="learnLinks">
        <a class="learnl1" href="#"><button class="button1">Continue Learning</button></a>
        <a class="learnl2" href="#"><button class="button1">View all modules</button></a>
    </div>

    <div class="EventTitle">
        <h2 class="eventTitleText">
            Events Near You
        </h2>
    </div>

    <a class="viewAll" href="#"><button class="button1">View all</button></a>

    <div class="eventCard">
        <img class="mountains" src="~/images/mountains.png" alt="mountains" />
    </div>

    <div class="personalInfo">
        <h2 class="personalTitle">
            Your Profile Information
        </h2>

        <p class="namePart">
            Name:      @Model.User.Name
        </p>

        <p class="emailPart">
            Email:     @Model.User.Email
        </p>

        <p class="MBTIPart">
            Major:     @Model.User.Major
        </p>

        <p class="interestPart">
            Interests:     @Model.User.Bio
        </p>

        <a class="profileEditBut" href="#"><button class="button1">Edit Profile</button></a>
    </div>




</div>

